MNEMONIC=candy maple cake sugar pudding cream honey rich smooth crumble sweet treat
WEB3_RINKEBY_ADDRESS=https://eth-rinkeby.alchemyapi.io/v2/Wh0cFuopX8Z3xC_hMpE9vgQVwDbOrFS2
WEATHER_URL=https://v0.yiketianqi.com/api?unescape=1&version=v91&appid=43656176&appsecret=I42og6Lm
CONTRACT_ADDRESS=0x16Bd4617F4893fC44dEeFD5D063bE48A1a3aC62e
ABI=[{"inputs": [{"internalType": "address","name": "_oracleAddress","type": "address"}],"stateMutability": "nonpayable","type": "constructor"},{"anonymous": false,"inputs": [{"indexed": false,"internalType": "string","name": "temperature","type": "string"}],"name": "TemperatureUpdate","type": "event"},{"inputs": [],"name": "oracleAddress","outputs": [{"internalType": "address","name": "","type": "address"}],"stateMutability": "view","type": "function"},{"inputs": [{"internalType": "string","name": "temperature","type": "string"}],"name": "updateTemperature","outputs": [],"stateMutability": "nonpayable","type": "function"}]
TIMEOUT=30000
